#fomula {
    text-size: 5px;
}


#head {
    text-align: center;
    height: auto;
    width: auto;
}

#image{
   text-align: center;

}
#title4list {
    text-align: center;
}

#ending {
    color: purple;
}